.header {
   background-color: #0b9ba0;
   height: 130px;
   background-position: top;
 }
 .logo {
   float: left;
   width: 120px;
   height: 120px;
   margin-top: 5px; 
   margin-left: 10px; 
 }
 
 h1 {
   font-family: "Georgia", Georgia, serif;
   font-size: 2em;
   position: relative;
   text-align: center;
   color: black;
 }
 a{
  text-decoration:none;
  }
 
 
 h2 {
   position: relative;
   font-family: "Georgia", Georgia, serif;
   font-size: 1.5em;
   text-align: center;
   margin-top: 2px;
 }
 
 .login_signup {
   font-family: "Georgia", Georgia, serif;
   font-size: 1em;
   background-color:  #c4fffc;
   border: none;
   color: black;
   position: relative;
   text-align: right;
   margin-top: 5px; 
   margin-right: 5px;
 }
 
 

.body {
   background-color: #c4fffc;
   height: 130px;
}

h3 {
   font-family: "Georgia", Georgia, serif;
   font-size: 1.5em;
   position: relative;
   text-align: center;
   margin-left: 130px;
}

h4 {
  font-family: "Georgia", Georgia, serif;
  font-size: 1.1em;
  position: relative;
  text-align: center;
  margin-left: 130px;
}
h5 {
  font-family: "Georgia", Georgia, serif;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  margin-left: 130px;
}
h6 {
  font-family: "Georgia", Georgia, serif;
  font-size: 0.9em;
  position: relative;
  text-align: right;
  margin-right: 30px;
}



.body_button{
   font-family: "Georgia", Georgia, serif;
   font-size: 1em;
   background-color:  #0b9ba0;
   border: none;
   color: black;
}


