.grade.deactivated {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-size: 2em;
}

.grade.pending {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    font-size: 2em;
}

.grade.chosen {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    font-size: 2em;
}
