@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.grade.deactivated {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-size: 1em;
}

.grade.pending {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    animation: flickerAnimation 1.5s infinite;
    font-size: 1em;
}

.grade.chosen {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    font-size: 1em;
}
