.header{
    background-color: #0b9ba0;
}

body{
background-color: white;
padding-bottom: 100px;
}

.filters{
    float:right;
    width:21%;
    border: 3px solid black;
}

.advance_search{
    /* padding-top: 3px;
    padding-bottom: 3px; */
    background-color: #0b9ba0;
}

.label{
    font-family: "Georgia", Georgia, serif;
    font-size: 1em;
    color: black;
}
.search_results{
    float: left;
    width:78%;
}
.kindergarten{
    margin-top: 2px;
    margin-bottom: 2PX;
    border: 3px solid black;
    text-align: center;
}
.kindergarten_name{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b9ba0;
}
h4{
    margin-right: 110px;
}
h6{
    font-family: "Georgia", Georgia, serif;
    font-size: 1.1em;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.kindergarten_photo{
    float: left;
   width: 60px;
   height:60px;
   margin-left: 50px; 
}

a{
    text-decoration: none;
    color: black;
}
.search_button{
    font-family: "Georgia", Georgia, serif;
    font-size: 1em;
    background-color:  #52bdb7;
    border: none;
    color: black;
    text-align: center;
 }

 .search_input {
    position: relative;
    text-align: center;
    margin-top: 5px; 
    margin-left: 130px; 
  }

  .search_text{
    font-family: "Georgia", Georgia, serif;
    font-size: 1em;  }

  .radio_inline {
    font-family: "Georgia", Georgia, serif;
    font-size: 1em;
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-left: 160px;
  }
  