{% extends 'base.html' %}

{% block content %}
<body>
<div class="register">
    <form method="POST" novalidate>
        {% csrf_token %}
        <h3>הוספת גן</h3>


        <div>
            <div>
                {{ kindergarten_form.name.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.name }}
                {% for error in kindergarten_form.name.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.address.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.address }}
                {% for error in kindergarten_form.address.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.region.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.region }}
                {% for error in kindergarten_form.region.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.min_age.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.min_age }}
                {% for error in kindergarten_form.min_age.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.max_age.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.max_age }}
                {% for error in kindergarten_form.max_age.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.capacity.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.capacity }}
                {% for error in kindergarten_form.capacity.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.kids_count.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.kids_count }}
                {% for error in kindergarten_form.kids_count.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.num_of_teachers.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.num_of_teachers }}
                {% for error in kindergarten_form.num_of_teachers.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_form.open_time.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.open_time }}
                {% for error in kindergarten_form.open_time.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                {{ kindergarten_form.close_time.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.close_time }}
                {% for error in kindergarten_form.close_time.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                {{ kindergarten_form.has_parking.label_tag }}
            </div>
            <div>
                {{ kindergarten_form.has_parking }}
                {% for error in kindergarten_form.has_parking.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <br>פרטים ליצירת קשר עם הגן:
        <div>
             <div>
                {{ kindergarten_additional_info.phone.label_tag }}
            </div>
            <div>
                {{ kindergarten_additional_info.phone }}
                {% for error in kindergarten_additional_info.phone.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_additional_info.mail.label_tag }}
            </div>
            <div>
                {{ kindergarten_additional_info.mail }}
                {% for error in kindergarten_additional_info.mail.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

             <div>
                {{ kindergarten_additional_info.description.label_tag }}
            </div>
            <div>
                {{ kindergarten_additional_info.description }}
                {% for error in kindergarten_additional_info.description.errors %}
                    <div style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>



        <input type="submit" value="שמירה">
    </form>
</div>
</body>


{% endblock content%}