<!DOCTYPE html>
<html>
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#search-button").click(function() {
                var userEmail = $("#search-input").val();
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: "/add-connection/",
                    type: "POST",
                    data: {
                        user_email: userEmail
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(response) {
                        // Handle the response from the Django endpoint
                        console.log(response);
                        alert(response.message);
                    },
                    error: function(xhr) {
                        // Handle error
                        var response = JSON.parse(xhr.responseText);
                        var errorMessage = response.message;
                        alert(errorMessage);
                    }
                });
                $("#search-input").val("");
            });
        });
    </script>
    <nav class="navbar navbar-left navbar-light justify-content-between" style="background-color: #c9f0c9;">
        <a class="navbar-brand" href="/">
            <img src="{% static 'imges/logo_img3.svg' %}" width="35" height="35" class="d-inline-block align-top" alt="">
            LittleExplorer
        </a>
        <form class="navbar-form" onsubmit="return false">
            {% if user.is_authenticated %}
            Welcome {{ user.first_name }} {{ user.last_name }}
            
            {% if user.is_teacher %}
            <button type="button" class="btn btn-outline-dark btn-sm" type="submit" onclick="location.href = '/add_kindergarten'"><span class="glyphicon glyphicon-log-out"></span>New kindergarten</button>
            {% endif %}
            <button type="button" class="btn btn-outline-dark  btn-sm" type="submit" onclick="location.href = '/logout'"><span class="glyphicon glyphicon-log-out"></span>Log out</button> 

          {% if user.is_parent %}
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <input type="text" id="search-input" placeholder="Enter user's email">
          <button id="search-button">Add Connection</button>
          {% endif %}

          {% else %}
          <button type="button" class="btn btn-outline-dark  btn-sm" class="glyphicon glyphicon-user" type="submit" onclick="location.href = '/parent_sign_up'">
              <span class="glyphicon glyphicon-user"></span>Register as a parent</button>
          <button type="button" class="btn btn-outline-dark  btn-sm" class="glyphicon glyphicon-user" type="submit" onclick="location.href = '/teacher_sign_up'">
              <span class="glyphicon glyphicon-user"></span>Register as a teacher</button>
          <button type="button" class="btn btn-outline-dark btn-sm" type="submit" onclick="location.href = '/login'">
              <span class="glyphicon glyphicon-log-in"></span>Login</button>
          {% endif %}
      </form>
  </nav>
</head>
<body style="background-color: #c9ccca;">
    {% block content %}{% endblock %}
</body>
</html>