<!DOCTYPE html>
<html>
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $(function () {
                 $('[data-toggle="tooltip"]').tooltip()
            });
            $("#info").click((e) => {
                e.stopPropagation();
            });
            $("#search-button").click(function() {
                var userEmail = $("#search-input").val();
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: "/add-connection/",
                    type: "POST",
                    data: {
                        user_email: userEmail
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(response) {
                        // Handle the response from the Django endpoint
                        console.log(response);
                        alert(response.message);
                    },
                    error: function(xhr) {
                        // Handle error
                        var response = JSON.parse(xhr.responseText);
                        var errorMessage = response.message;
                        alert(errorMessage);
                    }
                });
                $("#search-input").val("");
            });
        });
    </script>
</head>
<body style="background-color: #d1d5d3;">
    <nav class="navbar navbar-left navbar-light justify-content-between" style="background-color: #c9f0c9;">
        <a class="navbar-brand" href="/" style="margin-left: 20px;">
            <img src="{% static 'imges/logo_img3.svg' %}" width="35" height="35" class="d-inline-block align-top" alt="">
            LittleExplorer
        </a>
        <form class="navbar-form" onsubmit="return false" style="margin-right: 20px;">
            {% if user.is_authenticated %}
            Welcome {{ user.first_name }} {{ user.last_name }}
            {% if user.is_teacher %}
            <button type="button" class="btn btn-outline-dark btn-sm" type="submit" onclick="location.href = '/add_kindergarten'"><span class="glyphicon glyphicon-log-out"></span>הוספת גן</button>
            {% endif %}
            {% else %}
            <button type="button" class="btn btn-outline-dark  btn-sm" class="glyphicon glyphicon-user" type="submit" onclick="location.href = '/parent_sign_up'">
                <span class="glyphicon glyphicon-user"></span>Register as a parent</button>
            <button type="button" class="btn btn-outline-dark  btn-sm" class="glyphicon glyphicon-user" type="submit" onclick="location.href = '/teacher_sign_up'">
                <span class="glyphicon glyphicon-user"></span>Register as a teacher</button>
            <button type="button" class="btn btn-outline-dark btn-sm" type="submit" onclick="location.href = '/login'">
                <span class="glyphicon glyphicon-log-in"></span>Login</button>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="dropdown d-inline-block">
                {% if user.is_parent %}
                <button class="btn btn-outline-dark dropdown-toggle btn-sm" type="button" id="signupDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill-add"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end bg-dark" aria-labelledby="signupDropdown" style="text-align: center;background-color: #f8f9fa;">
                    <div class="px-2 py-2" style="width: 200px;">
                        <div class="mb-2 d-flex justify-content-center">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="email"  class="form-control form-control-sm" id="search-input" placeholder="User's Email">
                        </div>
                        <div class="btn-group d-flex" role="group" aria-label="Basic example">
                            <button id="info" data-toggle="tooltip" data-placement="left" class="btn btn-dark btn-outline-light btn-sm flex-shrink-1" title="Get search results based on this user preferences" style="display:inline-block"><i class="bi bi-info-circle"></i></button>
                            <button type="submit" class="btn btn-dark btn-outline-light btn-sm w-100" id="search-button">Add Connection</button>
                          </div>
                        </form>
                    </div>
                </ul>
                {% endif %}
                <button type="button" class="btn btn-outline-dark  btn-sm" type="submit" onclick="location.href = '/logout'"><span class="glyphicon glyphicon-log-out"></span>Log out</button> 
            </div>
            {% endif %}
        </form>
  </nav>
</head>
<body style="background-color: #c9ccca;">
    {% block content %}{% endblock %}
</body>
</html>