{% extends 'base.html' %}
{% block content %}
<style>
    /* TODO: move to base.css after merge with Shir's code */
    .grade.deactivated {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        font-size: 3em;
    }

    .grade.pending {
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
        font-size: 3em;
    }

    .grade.chosen {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        font-size: 3em;
    }
</style>
<script>
    window.onload = () => {
        for (let i = 1; i <= 5; ++i) {
            document.getElementById("bottle" + i).onmouseover = (event) => {
                const value = +(event.target.getAttribute("value"));
                for (let j = 1; j <= 5; ++j) {
                    const element = document.getElementById("bottle" + j);
                    element.classList.remove('deactivated');
                    element.classList.remove('pending');
                    element.classList.remove('chosen');
                    element.classList.add(j <= value ? 'pending' : 'deactivated');
                }
            }

            document.getElementById("bottle" + i).onmouseleave = (event) => {
                const value = +(document.getElementsByName('grade')[0].value);
                for (let j = 1; j <= 5; ++j) {
                    const element = document.getElementById("bottle" + j);
                    element.classList.remove('deactivated');
                    element.classList.remove('pending');
                    element.classList.remove('chosen');
                    element.classList.add(j <= value ? 'chosen' : 'deactivated');
                }
            }

            document.getElementById("bottle" + i).onclick = (event) => {
                const value = +(event.target.getAttribute("value"));
                document.getElementsByName('grade')[0].value = value;
                for (let j = 1; j <= 5; ++j) {
                    const element = document.getElementById("bottle" + j);
                    element.classList.remove('deactivated');
                    element.classList.remove('pending');
                    element.classList.remove('chosen');
                    element.classList.add(j <= value ? 'chosen' : 'deactivated');
                }
            }
        }
    }
</script>
<form method="post">
    {% csrf_token %}
    <div>
        <label>ציון: </label>
        <div>
            <span id="bottle5" value="5" class="grade deactivated">🍼</span>
            <span id="bottle4" value="4" class="grade deactivated">🍼</span>
            <span id="bottle3" value="3" class="grade deactivated">🍼</span>
            <span id="bottle2" value="2" class="grade deactivated">🍼</span>
            <span id="bottle1" value="1" class="grade deactivated">🍼</span>
        </div>
        {{ form.grade }} <!-- A hidden input, not visible from the UI but holds the value -->
    </div>
    <div>
        <label></label>
        {{ form.comment }}
    </div>
     <input type="submit" value="שמירה">
</form>
{% endblock content%}