{% extends 'base.html' %}
{% block content %}
<body>
   {% load static %}
   <link rel="stylesheet" href="{% static 'index.css' %}">
   <div class="bg-image" style="background-image: url('https://www.deccanherald.com/sites/dh/files/gallery_images/istock-478403308.jpg'); height: 90vh;">
      <div class="d-flex justify-content-center">
         <form method="GET" action="/search">
            <div  style="margin-top: 100px;">
               <input type="radio" name="method" value="name" id="name" checked><label for="name">חיפוש לפי שם</label>
               <input type="radio" name="method" value="location" id="location"><label for="location">חיפוש לפי מקום</label>
               <div class="input-group rounded">
               <form class="form-inline">
                  <input class="form-control mr-sm-2" name="value" type="search" aria-label="Search">
                  <button class="btn btn-outline-dark btn-sm" type="submit">חיפוש</button>
               </form>
            </div>
            </div>
         </form>
      </div>
   </div>
</body>
{% endblock content%}