{% extends 'base.html' %}
{% block content %}
<body>
    <link rel="stylesheet" href="..\static\index_style.css">
    <div class="search">
    <form method="GET" action="/search">
       <div class="radio_inline">
           <input type="radio" name="method" value="name" id="name" checked><label for="name">חיפוש לפי שם</label>
          <input type="radio" name="method" value="location" id="location"><label for="location">חיפוש לפי עיר/כתובת</label>
       </div>
       <div class="search_input">
          <input type="text" class="search_text" id="Search" name="value" minlength="2" size="30">
          <input type="submit" class="search_button" value="חיפוש">
       </div>
    </form>
    <img src="..\static\imges\11.png" alt="photo" class="index_photo"/>
 </div>
</body>
{% endblock content%}