{% extends 'base.html' %}
{% block content %}
<style>
    /* TODO: move to base.css after merge with Shir's code */
    .grade.deactivated {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        font-size: 2em;
    }

    .grade.pending {
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
        font-size: 2em;
    }

    .grade.chosen {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        font-size: 2em;
    }
</style>
<script>
    window.onload = () => {
        for (const element of document.getElementsByName('grade')) {
            const value = +(element.getAttribute('value'));
            for (let i = 5; i >= 1; --i) {
                // Iterating backwards since page is rtl but the bottles are ltr
                const subelement = document.createElement('span');
                subelement.innerHTML = '🍼';
                subelement.classList.add('grade');
                subelement.classList.add(i <= value ? 'chosen' : 'deactivated');
                element.appendChild(subelement);
            }
            element.setAttribute("title", "דירוג: " + value);
        }
    }
</script>
<body>

<section class="vh-100 h-custom">
    <div class="container py-5" dir="rtl">
        <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
            <h2 class="fw-bold mb-2 text-uppercase text-center">{{ kindergarten.name }}</h2>
        </div>

        <div class="card rounded-3 p-md-5" style="background-color: #b2e6fa; margin-bottom: 20px;">
            {% if kindergarten_info.description %}
            <h5 class="text-center">
                <span style="white-space: pre-line">{{ kindergarten_info.description }}</span>
            </h3>
            {% endif %}
        </div>

        <div class="row row-cols-2 g-3 text-center">
            <div class="col">
              <div class="card rounded-3 p-md-5" style="background-color: #c9f0c9;">
                <h5 class="card-title">יצירת קשר</h5>
                <p class="card-text">
                    כתובת:{{ kindergarten.address }}, {{ kindergarten.region }}
                    {% if kindergarten_info.phone %}
                    <br>טלפון: {{ kindergarten_info.phone }}
                    {% endif %}
                    {% if kindergarten_info.mail %}
                    <br>מייל: {{ kindergarten_info.mail }}
                    {% endif %}
                </p>
                <h5 class="card-title">שעות הפתיחה של הגן:</h5>
                    <p class="card-text">
                        שעת פתיחה: {{ kindergarten.open_time|date:'H:i' }}
                        <br>שעת סגירה: {{ kindergarten.close_time|date:'H:i' }}
                    </p> 
                </div>
            </div>
            <div class="col">
                <div class="card rounded-3 p-md-5" style="background-color: #c9f0c9;">
                    <h5 class="card-title">פרטים על הגן</h5>
                    <p class="card-text">
                        הגיל המינימלי של ילדים בגן זה הוא {{ kindergarten.get_min_age_display}}
                        <br>
                        <br>בגן זה מובטח שכמות הילדים המקסימלית בכל זמן תהיה לכל היותר {{ kindergarten.capacity }}
                        <br>וכמו כן, מובטח שיש יחס של {{ kindergarten.display_ratio_children_teachers }} ילדים לגננות במקרה שבו הגן
                        מלא!
                        <br>
                        {% if kindergarten.has_parking == 1 %}
                        <br>לתשומת לבכם, בקרבת הגן יש גישה לחניה לנוחות מירבית בהורדה ובאיסוף של ילדכם
                        {% else %}
                        <br>לתשומת לבכם, חשוב לדעת כי אין חניה מסודרת בקרבת הגן
                        {% endif %}
                        <br>
                    </p>
                </div>
            </div>

    </div>
</section>


{% if comments_with_parent %}
<h2 class="fw-bold mb-2 text-uppercase text-center">תגובות</h2>
<section  dir="rtl">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-dark">
            {% for comment in comments_with_parent %}
                <div class="card-body p-4">
    
                <div class="d-flex flex-start">
                    <div>
                    <h6 class="fw-bold mb-1">{{ comment.parent.get_full_name }}</h6>
                    <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                            {{ comment.date }}
                            {% if comment.grade > 3 %}
                                <span class="badge bg-success"> {{ comment.grade }} כוכבים</span>
                            {% else %}
                                <span class="badge bg-danger"> {{ comment.grade }} כוכבים</span>
                            {% endif %}
                        </p>
                    </div>
                    <p class="mb-0">
                        {{ comment.comment }}
                    </p>
                    </div>
                </div>
                <hr class="my-0" />
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endif %}
<div dir="rtl"> 
    {% if user.is_parent %}
    <br>
    <button onclick="location.href = '/comment/{{ kindergarten.kindergarten_id }}'">הוספת תגובה</button>
    {% elif not user.is_authenticated %}
    <br>עדיין לא רשום לאתר? הירשם ותוכל להוסיף תגובות על הגן!
    {% endif %}
</div>


<div class="d-flex justify-content-center"> 
    {% if user.is_parent %}
        {% if kindergarten.is_free %}
        <br>
        <button onclick="location.href = '/sign_up_kid_to_kindergarten/{{ kindergarten.kindergarten_id }}'">רשום את הילד שלך
            לגן
        </button>
        {% else %}
        הגן מלא ולכן לא ניתן להרשם אליו
        {% endif %}
    {% endif %}
</div>
</body>
{% endblock content%}

