{% extends 'base.html' %}

{% block content %}
<body>
  <section>
    <div class="container py-5 h-100" dir="rtl">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-black" style="border-radius: 1rem; background-color: #b2e6fa">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">כניסה</h2>
                <p class="text-black mb-5">אנא כתוב/י אימייל וסיסמא</p>
                <form action="" method=POST>
                    {% csrf_token %}
                    <div class="form-outline form-black mb-4">
                      <label class="form-label" for="typeEmailX">אימייל</label>
                      <input type="email" id="typeEmailX" class="form-control-lg" />
                    </div>
                      
                    <div class="form-outline mb-4" class="opacity-25">
                      <label class="form-label" for="typePasswordX">סיסמא</label>
                      <input type="password" id="typePasswordX" class="form-control-lg" />
                    </div>
      
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">כניסה</button>
      
                  <div>
                    <p class="mb-0">אין לך חשבון? <a href="http://127.0.0.1:8000/parent_sign_up" class="text-black-50 fw-bold">הרשמה להורים </a>
                    ,  <a href="http://127.0.0.1:8000/teacher_sign_up" class="text-black-50 fw-bold">הרשמה לגננות </a></p>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



{% endblock %}