{% extends 'base.html' %}

{% block content %}
<body>
    <div class="d-flex justify-content-center" dir="rtl">
        <div  style="margin-top: 50px;">
            <form method="POST" novalidate>
                {% csrf_token %}
                <h3>הרשמה</h3>
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <div class="form-group" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-outline-dark btn-sm">הרשמה</button>
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock content%}