{% extends 'base.html' %}

{% block content %}
<body>
<div class="register">
    <link rel="stylesheet" href="..\static\register.css">
    <form method="POST" novalidate>
        {% csrf_token %}
        <h3>הרשמה</h3>

        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}

        <input type="submit" class="body_button" class="register_button" value="הרשמה"/>
    </form>
</div>
</body>


{% endblock content%}